###### 设置

In [5]:
# display for this notebook
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# 读题

- Table1 用户线下消费和优惠券领取行为
- Table2 用户线上点击/消费和优惠券领取行为
- Table3 用户O2O线下优惠券使用预测样本
- Table4 选手提交文件字段，其中user_id,coupon_id和date_received均来自Table3,而Probability为预测值

# 数据分析

###### 加载模块

In [1]:
import pandas as pd

###### 读取数据

In [2]:
data_off = pd.read_csv('dataset/ccf_offline_stage1_train.csv')
data_test = pd.read_csv('dataset/ccf_offline_stage1_test_revised.csv')
data_online = pd.read_csv('dataset/ccf_online_stage1_train.csv')

###### 查看：用户线上点击/消费和优惠券领取行为

In [46]:
data_off.head(5)
# len(data_off)  # 1754884

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

###### 查看：用户线上点击/消费和优惠券领取行为

In [48]:
data_online.head(5)
# len(data_online)  # 11429826

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0

###### 查看：用户O2O线下优惠券使用预测样本

In [50]:
data_test.head(5)
# len(data_test)  # 113640

   User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0  4129537          450       9983          30:5       1.0       20160712
1  6949378         1300       3429          30:5       NaN       20160706
2  2166529         7113       6928        200:20       5.0       20160727
3  2166529         7113       1808        100:10       5.0       20160727
4  6172162         7605       6500          30:1       2.0       20160708

###### 查看：优惠券 & 够买商品 数量

In [93]:
print('有优惠券 & 购买商品 数目： ', )
print('无优惠券 & 购买商品 数目： ')
print('有优惠券 & 不买商品 数目： ')
print('无优惠券 & 不买商品 数目： ')

data_off.Date_received.isnull()

有优惠券 & 购买商品 数目：
无优惠券 & 购买商品 数目：
有优惠券 & 不买商品 数目：
无优惠券 & 不买商品 数目：
/bin/sh: -c: line 1: syntax error: unexpected end of file

###### 查看：测试集 训练集 用户 出现

In [66]:
# 在测试集中出现的用户但训练集没有出现
print('用户 测试集出现，训练集不出现： ', set(data_test['User_id']) - set(data_off['User_id']))
# 在测试集中出现的商户但训练集没有出现
print('商户 测试集出现，训练集不出现： ', set(data_test['Merchant_id']) - set(data_off['Merchant_id']))

用户 测试集出现，训练集不出现：  {2495873, 1286474}
商户 测试集出现，训练集不出现：  {5920}

# 数据预处理

# 特征工程

# 模型建立