In [1]:
###############
from datetime import date
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set(style='white', context='notebook', palette='deep')  
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"  



off_train = pd.read_csv('../data/ccf_offline_stage1_train.csv',header=None)
off_train.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']

off_test = pd.read_csv('../data/ccf_offline_stage1_test_revised.csv',header=None)
off_test.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received']

off_train.drop(index=0,inplace=True)
off_test.drop(index=0,inplace=True)

off_train.fillna('null',inplace=True)

def tran_int_str(col):
    if col=='null':
        return col
    else:
        return str(int(float(col)))
off_train['date'] = off_train['date'].apply(tran_int_str)
off_train['date_received'] = off_train['date_received'].apply(tran_int_str)

dataset3 = off_test
feature3 = off_train[((off_train.date >= '20160315') & (off_train.date <= '20160630')) | 
                     ((off_train.date == 'null') & (off_train.date_received >= '20160315') &(off_train.date_received <= '20160630'))]

dataset2 = off_train[(off_train.date_received >= '20160515') & (off_train.date_received <= '20160615')]
feature2 = off_train[(off_train.date >= '20160201') & (off_train.date <= '20160514')| 
                     ((off_train.date == 'null') & (off_train.date_received >= '20160201') & (off_train.date_received <= '20160514'))]

dataset1 = off_train[(off_train.date_received >= '20160414') & (off_train.date_received <= '20160514')]
feature1 = off_train[(off_train.date >= '20160101') & (off_train.date <= '20160413')| 
                     ((off_train.date == 'null') & (off_train.date_received >= '20160101') & (off_train.date_received <= '20160413'))]

#### 其他特征

In [2]:
def get_other_feather(dataset3):
    t = dataset3[['user_id']]
    t['this_month_user_receive_all_coupon_count'] = 1
    t = t.groupby('user_id').agg('sum').reset_index()

    t1 = dataset3[['user_id','coupon_id']]
    t1['this_month_user_receive_same_coupon_count'] = 1
    t1 = t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()

    t2 = dataset3[['user_id', 'coupon_id', 'date_received']]
    t2.date_received = t2.date_received.astype('str')
    t2 = t2.groupby(['user_id', 'coupon_id'])['date_received'].agg(lambda x: ':'.join(x)).reset_index()
    t2['receive_number'] = t2.date_received.apply(lambda s: len(s.split(':')))
    t2 = t2[t2.receive_number > 1]        #保证至少有两条领取记录,代表一定使用过了上一张优惠券
    t2['max_date_received'] = t2.date_received.apply(lambda s: max([int(d) for d in s.split(':')]))
    t2['min_date_received'] = t2.date_received.apply(lambda s: min([int(d) for d in s.split(':')]))
    t2 = t2[['user_id', 'coupon_id', 'max_date_received', 'min_date_received']]

    t3 = dataset3[['user_id', 'coupon_id', 'date_received']]
    t3 = pd.merge(t3, t2, on=['user_id', 'coupon_id'], how='left')
    t3.date_received = t3.date_received.apply(lambda x : float(x))
    t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received
    t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received - t3.min_date_received
    def is_firstlastone(x):
        if x == 0:
            return 1
        elif x > 0:
            return 0
        else:
            return -1  #those only receive once
    t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(is_firstlastone)
    t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(is_firstlastone)
    t3 = t3[['user_id', 'coupon_id', 'date_received','this_month_user_receive_same_coupon_lastone',
             'this_month_user_receive_same_coupon_firstone']]
    t3['date_received'] = t3['date_received'].apply(lambda x : str(int(x)))   #将t3的时间格式转换为str


    t4 = dataset3[['user_id','date_received']]
    t4['this_day_user_receive_all_coupon_count'] = 1
    t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()

    t5 = dataset3[['user_id','coupon_id','date_received']]
    t5['this_day_user_receive_same_coupon_count'] = 1
    t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()

    t6 = dataset3[['user_id', 'coupon_id', 'date_received']]
    t6.date_received = t6.date_received.astype('str')
    t6 = t6.groupby(['user_id', 'coupon_id'])['date_received'].agg(lambda x: ':'.join(x)).reset_index()
    t6.rename(columns={'date_received': 'dates'}, inplace=True)
    def get_day_gap_before(s):
        date_received, dates = s.split('-')
        dates = dates.split(':')
        gaps = []
        for d in dates:
            this_gap = (date(int(date_received[0:4]), int(date_received[4:6]), int(date_received[6:8])) - 
                        date(int(d[0:4]), int(d[4:6]), int(d[6:8]))).days
            if this_gap > 0:                   #只考虑以前领取的
                gaps.append(this_gap)
        if len(gaps) == 0:
            return -1
        else:
            return min(gaps)
    def get_day_gap_after(s):
        date_received, dates = s.split('-')
        dates = dates.split(':')
        gaps = []
        for d in dates:
            this_gap = (date(int(d[0:4]), int(d[4:6]), int(d[6:8])) - 
                        date(int(date_received[0:4]), int(date_received[4:6]),int(date_received[6:8]))).days
            if this_gap > 0:                    #只考虑之后领取的
                gaps.append(this_gap)
        if len(gaps) == 0:
            return -1
        else:
            return min(gaps)
    t7 = dataset3[['user_id', 'coupon_id', 'date_received']]
    t7 = pd.merge(t7, t6, on=['user_id', 'coupon_id'], how='left')
    t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates
    t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)
    t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)
    t7 = t7[['user_id', 'coupon_id', 'date_received', 'day_gap_before', 'day_gap_after']]

    other_feature3 = pd.merge(t1, t, on='user_id')
    other_feature3 = pd.merge(other_feature3, t3, on=['user_id', 'coupon_id'])
    other_feature3 = pd.merge(other_feature3, t4, on=['user_id', 'date_received'])
    other_feature3 = pd.merge(other_feature3, t5, on=['user_id', 'coupon_id', 'date_received'])
    # other_feature3 = pd.merge(other_feature3, t7, on=['user_id', 'coupon_id', 'date_received'])
    
    return other_feature3

other_feature3 = get_other_feather(dataset3)
other_feature3.to_csv('../data/other_feature3.csv', index=None)

other_feature2 = get_other_feather(dataset2)
other_feature2.to_csv('../data/other_feature2.csv', index=None)

other_feature1 = get_other_feather(dataset1)
other_feature1.to_csv('../data/other_feature1.csv', index=None)

In [7]:
other_feature1.shape

(137167, 9)

#### 优惠券特征

In [3]:
def calc_discount_rate(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return float(s[0])
    else:
        return 1.0-float(s[1])/float(s[0])
def get_discount_man(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 'null'
    else:
        return int(s[0])
def get_discount_jian(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 'null'
    else:
        return int(s[1])
def is_man_jian(s):
    s =str(s)
    s = s.split(':')
    if len(s)==1:
        return 0
    else:
        return 1

def get_coupon_feather(dataset3):
    #dataset3
    dataset3['day_of_week'] = dataset3.date_received.astype('str').apply(lambda x: date(int(x[0:4]), int(x[4:6]), int(x[6:8])).weekday() + 1)
    dataset3['day_of_month'] = dataset3.date_received.astype('str').apply(lambda x: int(x[6:8]))
    dataset3['days_distance'] = dataset3.date_received.astype('str').apply(lambda x: (date(int(x[0:4]), int(x[4:6]), int(x[6:8])) - date(2016, 6, 30)).days)
    dataset3['discount_man'] = dataset3.discount_rate.apply(get_discount_man)
    dataset3['discount_jian'] = dataset3.discount_rate.apply(get_discount_jian)
    dataset3['is_man_jian'] = dataset3.discount_rate.apply(is_man_jian)
    dataset3['discount_rate'] = dataset3.discount_rate.apply(calc_discount_rate)
    #先提取出统计特征（小数据集），然后合并到原来的大数据集
    d = dataset3[['coupon_id']]
    d['coupon_count'] = 1
    d = d.groupby('coupon_id').agg('sum').reset_index()
    dataset3 = pd.merge(dataset3, d, on='coupon_id', how='left')
    
    return dataset3

dataset3 = get_coupon_feather(dataset3)
dataset3.to_csv('../data/coupon3_feature.csv', index=None)

dataset2 = get_coupon_feather(dataset2)
dataset2.to_csv('../data/coupon2_feature.csv', index=None)

dataset1 = get_coupon_feather(dataset1)
dataset1.to_csv('../data/coupon1_feature.csv', index=None)

In [8]:
dataset3.shape

(113640, 13)

#### 商家相关特征

In [4]:
#for dataset3
def get_merchant_feather(feature3):
    merchant3 = feature3[['merchant_id', 'coupon_id', 'distance', 'date_received', 'date']]
    t = merchant3[['merchant_id']]
    t.drop_duplicates(inplace=True)

    #每商家总消费记录数目
    t1 = merchant3[merchant3.date != 'null'][['merchant_id']]
    t1['total_sales'] = 1
    t1 = t1.groupby('merchant_id').agg('sum').reset_index()

    #商家优惠券使用记录
    t2 = merchant3[(merchant3.date != 'null') & (merchant3.coupon_id != 'null')][['merchant_id']]
    t2['sales_use_coupon'] = 1
    t2 = t2.groupby('merchant_id').agg('sum').reset_index()

    #每家店发出多少优惠券
    t3 = merchant3[merchant3.coupon_id != 'null'][['merchant_id']]
    t3['total_coupon'] = 1
    t3 = t3.groupby('merchant_id').agg('sum').reset_index()

    #商家被核销优惠券中的平均/最小/最大/中位数用户-商家距离
    t4 = merchant3[(merchant3.date != 'null') & (merchant3.coupon_id != 'null')][['merchant_id', 'distance']]
    t4.replace('null', -1, inplace=True)
    t4.distance = t4.distance.astype('int')
    t4.replace(-1, np.nan, inplace=True)
    t5 = t4.groupby('merchant_id').agg('min').reset_index()
    t5.rename(columns={'distance': 'merchant_min_distance'}, inplace=True)

    t6 = t4.groupby('merchant_id').agg('max').reset_index()
    t6.rename(columns={'distance': 'merchant_max_distance'}, inplace=True)

    t7 = t4.groupby('merchant_id').agg('mean').reset_index()
    t7.rename(columns={'distance': 'merchant_mean_distance'}, inplace=True)

    t8 = t4.groupby('merchant_id').agg('median').reset_index()
    t8.rename(columns={'distance': 'merchant_median_distance'}, inplace=True)

    merchant3_feature = pd.merge(t, t1, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t2, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t3, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t5, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t6, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t7, on='merchant_id', how='left')
    merchant3_feature = pd.merge(merchant3_feature, t8, on='merchant_id', how='left')
    merchant3_feature.sales_use_coupon = merchant3_feature.sales_use_coupon.replace(np.nan, 0)  #fillna with 0

    #商家优惠券核销率
    merchant3_feature[ 'merchant_coupon_transfer_rate'] = merchant3_feature.sales_use_coupon.astype( 'float') / merchant3_feature.total_coupon

    #商家销售中使用优惠券概率
    merchant3_feature['coupon_rate'] = merchant3_feature.sales_use_coupon.astype('float') / merchant3_feature.total_sales

    merchant3_feature.total_coupon = merchant3_feature.total_coupon.replace(np.nan, 0)  #fillna with 0
    
    
    return merchant3_feature

merchant3_feature = get_merchant_feather(feature3)
merchant3_feature.to_csv('../data/merchant3_feature.csv', index=None)

merchant2_feature = get_merchant_feather(feature2)
merchant2_feature.to_csv('../data/merchant2_feature.csv', index=None)

merchant1_feature = get_merchant_feather(feature1)
merchant1_feature.to_csv('../data/merchant1_feature.csv', index=None)

In [9]:
merchant1_feature.shape

(7937, 10)

#### 用户线下特征

In [5]:
#for dataset3
def user_off_feather(feature3):
    def get_user_date_datereceived_gap(s):
        s = s.split(':')
        return (date(int(s[0][0:4]),int(s[0][4:6]),int(s[0][6:8])) - date(int(s[1][0:4]),int(s[1][4:6]),int(s[1][6:8]))).days

    user3 = feature3[['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']]

    t = user3[['user_id']]
    t.drop_duplicates(inplace=True)

    #消费者消费店家数目
    t1 = user3[user3.date!='null'][['user_id','merchant_id']]
    t1.drop_duplicates(inplace=True)
    t1.merchant_id = 1
    t1 = t1.groupby('user_id').agg('sum').reset_index()
    t1.rename(columns={'merchant_id':'count_merchant'},inplace=True)

    #消费者领取优惠券最近/最远/平均/中位数距离
    t2 = user3[(user3.date!='null')&(user3.coupon_id!='null')][['user_id','distance']]
    t2.replace('null',-1,inplace=True)
    t2.distance = t2.distance.astype('int')
    t2.replace(-1,np.nan,inplace=True)
    t3 = t2.groupby('user_id').agg('min').reset_index()
    t3.rename(columns={'distance':'user_min_distance'},inplace=True)

    t4 = t2.groupby('user_id').agg('max').reset_index()
    t4.rename(columns={'distance':'user_max_distance'},inplace=True)

    t5 = t2.groupby('user_id').agg('mean').reset_index()
    t5.rename(columns={'distance':'user_mean_distance'},inplace=True)

    t6 = t2.groupby('user_id').agg('median').reset_index()
    t6.rename(columns={'distance':'user_median_distance'},inplace=True)

    #消费者使用优惠券购买总次数
    t7 = user3[(user3.date!='null')&(user3.coupon_id!='null')][['user_id']]
    t7['buy_use_coupon'] = 1
    t7 = t7.groupby('user_id').agg('sum').reset_index()

    #消费者消费总次数
    t8 = user3[user3.date!='null'][['user_id']]
    t8['buy_total'] = 1
    t8 = t8.groupby('user_id').agg('sum').reset_index()
    #每个消费者共领取多少优惠券
    t9 = user3[user3.coupon_id!='null'][['user_id']]
    t9['coupon_received'] = 1
    t9 = t9.groupby('user_id').agg('sum').reset_index()
    #消费者领取优惠券到使用优惠券时间差
    t10 = user3[(user3.date_received!='null')&(user3.date!='null')][['user_id','date_received','date']]
    t10['user_date_datereceived_gap'] = t10.date + ':' + t10.date_received
    t10.user_date_datereceived_gap = t10.user_date_datereceived_gap.apply(get_user_date_datereceived_gap)
    t10 = t10[['user_id','user_date_datereceived_gap']]
    #消费者领取优惠券到使用优惠券平均/最大/最小/中位数时间差
    t11 = t10.groupby('user_id').agg('mean').reset_index()
    t11.rename(columns={'user_date_datereceived_gap':'avg_user_date_datereceived_gap'},inplace=True)
    t12 = t10.groupby('user_id').agg('min').reset_index()
    t12.rename(columns={'user_date_datereceived_gap':'min_user_date_datereceived_gap'},inplace=True)
    t13 = t10.groupby('user_id').agg('max').reset_index()
    t13.rename(columns={'user_date_datereceived_gap':'max_user_date_datereceived_gap'},inplace=True)


    #合并列表
    user3_feature = pd.merge(t,t1,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t3,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t4,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t5,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t6,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t7,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t8,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t9,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t11,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t12,on='user_id',how='left')
    user3_feature = pd.merge(user3_feature,t13,on='user_id',how='left')
    user3_feature.count_merchant = user3_feature.count_merchant.replace(np.nan,0)
    user3_feature.buy_use_coupon = user3_feature.buy_use_coupon.replace(np.nan,0)
    #消费者使用优惠券频率
    user3_feature['buy_use_coupon_rate'] = user3_feature.buy_use_coupon.astype('float') / user3_feature.buy_total.astype('float')
    #消费者优惠券转化率
    user3_feature['user_coupon_transfer_rate'] = user3_feature.buy_use_coupon.astype('float') / user3_feature.coupon_received.astype('float')
    user3_feature.buy_total = user3_feature.buy_total.replace(np.nan,0)
    user3_feature.coupon_received = user3_feature.coupon_received.replace(np.nan,0)
    
    return user3_feature
    
user3_feature = user_off_feather(feature3)
user3_feature.to_csv('../data/user3_feature.csv',index=None)

user2_feature = user_off_feather(feature2)
user2_feature.to_csv('../data/user2_feature.csv',index=None)

user1_feature = user_off_feather(feature1)
user1_feature.to_csv('../data/user1_feature.csv',index=None)

In [10]:
user1_feature.shape

(382698, 14)

#### 用户商家交互特征

In [6]:
#for dataset3
def user_merchant_feature(feature3):
    all_user_merchant = feature3[['user_id','merchant_id']]
    all_user_merchant.drop_duplicates(inplace=True)

    #用户在该商家消费总计
    t = feature3[['user_id','merchant_id','date']]
    t = t[t.date!='null'][['user_id','merchant_id']]
    t['user_merchant_buy_total'] = 1
    t = t.groupby(['user_id','merchant_id']).agg('sum').reset_index()
    t.drop_duplicates(inplace=True)

    #用户领取该商家优惠券总计
    t1 = feature3[['user_id','merchant_id','coupon_id']]
    t1 = t1[t1.coupon_id!='null'][['user_id','merchant_id']]
    t1['user_merchant_received'] = 1
    t1 = t1.groupby(['user_id','merchant_id']).agg('sum').reset_index()
    t1.drop_duplicates(inplace=True)

    #用户于该商家使用其优惠券总计
    t2 = feature3[['user_id','merchant_id','date','date_received']]
    t2 = t2[(t2.date!='null')&(t2.date_received!='null')][['user_id','merchant_id']]
    t2['user_merchant_buy_use_coupon'] = 1
    t2 = t2.groupby(['user_id','merchant_id']).agg('sum').reset_index()
    t2.drop_duplicates(inplace=True)

    #用户于该商家相关记录（优惠券领取，单纯消费等）总计
    t3 = feature3[['user_id','merchant_id']]
    t3['user_merchant_any'] = 1
    t3 = t3.groupby(['user_id','merchant_id']).agg('sum').reset_index()
    t3.drop_duplicates(inplace=True)

    #用户于该商家单纯消费总计
    t4 = feature3[['user_id','merchant_id','date','coupon_id']]
    t4 = t4[(t4.date!='null')&(t4.coupon_id=='null')][['user_id','merchant_id']]
    t4['user_merchant_buy_common'] = 1
    t4 = t4.groupby(['user_id','merchant_id']).agg('sum').reset_index()
    t4.drop_duplicates(inplace=True)

    #merge dataframe
    user_merchant3 = pd.merge(all_user_merchant, t, on=['user_id', 'merchant_id'], how='left')
    user_merchant3 = pd.merge(user_merchant3, t1, on=['user_id', 'merchant_id'], how='left')
    user_merchant3 = pd.merge(user_merchant3, t2, on=['user_id', 'merchant_id'], how='left')
    user_merchant3 = pd.merge(user_merchant3, t3, on=['user_id', 'merchant_id'], how='left')
    user_merchant3 = pd.merge(user_merchant3, t4, on=['user_id', 'merchant_id'], how='left')
    user_merchant3.user_merchant_buy_use_coupon = user_merchant3.user_merchant_buy_use_coupon.replace(np.nan, 0)
    user_merchant3.user_merchant_buy_common = user_merchant3.user_merchant_buy_common.replace(np.nan, 0)

    #用户领取优惠券后转化率（对于仅有一次优惠券记录的用户来说，是否会导致过拟合？）
    user_merchant3['user_merchant_coupon_transfer_rate'] = user_merchant3.user_merchant_buy_use_coupon.astype('float') / \
                                                                user_merchant3.user_merchant_received.astype('float')

    #用户于该商家购买中使用优惠券比率
    user_merchant3['user_merchant_coupon_buy_rate'] = user_merchant3.user_merchant_buy_use_coupon.astype('float') / \
                                                            user_merchant3.user_merchant_buy_total.astype('float')

    #用户与该商家相关记录中购买记录比率
    user_merchant3['user_merchant_rate'] = user_merchant3.user_merchant_buy_total.astype('float') / \
                                                user_merchant3.user_merchant_any.astype('float')

    #用户与在该商家消费中单纯购买比率
    user_merchant3['user_merchant_common_buy_rate'] = user_merchant3.user_merchant_buy_common.astype('float') / \
                                                            user_merchant3.user_merchant_buy_total.astype('float')
    
    return user_merchant3

user_merchant3 = user_merchant_feature(feature3)
user_merchant3.to_csv('../data/user_merchant3.csv', index=None)

user_merchant2 = user_merchant_feature(feature2)
user_merchant2.to_csv('../data/user_merchant2.csv', index=None)

user_merchant1 = user_merchant_feature(feature1)
user_merchant1.to_csv('../data/user_merchant1.csv', index=None)

In [12]:
user_merchant1.shape

(629500, 11)

#### 训练集、验证集

In [1]:
###############
from datetime import date
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set(style='white', context='notebook', palette='deep')  
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#######################
def get_label(s):
    s = s.split(':')
    if s[0]=='null':
        return 0
    elif (date(int(s[0][0:4]),int(s[0][4:6]),int(s[0][6:8]))-date(int(s[1][0:4]),int(s[1][4:6]),int(s[1][6:8]))).days<=15:
        return 1
    else:
        return -1
    
coupon3 = pd.read_csv('../data/coupon3_feature.csv')
merchant3 = pd.read_csv('../data/merchant3_feature.csv')
user3 = pd.read_csv('../data/user3_feature.csv')
user_merchant3 = pd.read_csv('../data/user_merchant3.csv')
other_feature3 = pd.read_csv('../data/other_feature3.csv')
dataset3 = pd.merge(coupon3, merchant3, on='merchant_id', how='left')
dataset3 = pd.merge(dataset3, user3, on='user_id', how='left')
dataset3 = pd.merge(dataset3, user_merchant3, on=['user_id', 'merchant_id'], how='left')
dataset3 = pd.merge(dataset3,other_feature3,on=['user_id', 'coupon_id', 'date_received'],how='left')
dataset3.drop_duplicates(inplace=True)
print(dataset3.shape)
dataset3.user_merchant_buy_total = dataset3.user_merchant_buy_total.replace(np.nan, 0)
dataset3.user_merchant_any = dataset3.user_merchant_any.replace(np.nan, 0)
dataset3.user_merchant_received = dataset3.user_merchant_received.replace(np.nan, 0)
dataset3['is_weekend'] = dataset3.day_of_week.apply(lambda x: 1 if x in (6, 7) else 0)
weekday_dummies = pd.get_dummies(dataset3.day_of_week)
weekday_dummies.columns = ['weekday' + str(i + 1) for i in range(weekday_dummies.shape[1])]
dataset3 = pd.concat([dataset3, weekday_dummies], axis=1)
dataset3.drop(['merchant_id', 'day_of_week', 'coupon_count'], axis=1, inplace=True)
dataset3 = dataset3.replace('null', np.nan)
dataset3.to_csv('../data/dataset3.csv', index=None)



coupon2 = pd.read_csv('../data/coupon2_feature.csv')
merchant2 = pd.read_csv('../data/merchant2_feature.csv')
user2 = pd.read_csv('../data/user2_feature.csv')
user_merchant2 = pd.read_csv('../data/user_merchant2.csv')
other_feature2 = pd.read_csv('../data/other_feature2.csv')
dataset2 = pd.merge(coupon2,merchant2,on='merchant_id',how='left')
dataset2 = pd.merge(dataset2,user2,on='user_id',how='left')
dataset2 = pd.merge(dataset2,user_merchant2,on=['user_id','merchant_id'],how='left')
dataset2 = pd.merge(dataset2,other_feature2,on=['user_id','coupon_id','date_received'],how='left')
dataset2.drop_duplicates(inplace=True)
print(dataset2.shape)
dataset2.user_merchant_buy_total = dataset2.user_merchant_buy_total.replace(np.nan,0)
dataset2.user_merchant_any = dataset2.user_merchant_any.replace(np.nan,0)
dataset2.user_merchant_received = dataset2.user_merchant_received.replace(np.nan,0)
dataset2['is_weekend'] = dataset2.day_of_week.apply(lambda x:1 if x in (6,7) else 0)
weekday_dummies = pd.get_dummies(dataset2.day_of_week)
weekday_dummies.columns = ['weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
dataset2 = pd.concat([dataset2,weekday_dummies],axis=1)
dataset2['label'] = dataset2.date.fillna('null').astype('str') + ':' +  dataset2.date_received.astype('str')
dataset2.label = dataset2.label.apply(get_label)
dataset2.drop(['merchant_id','day_of_week','date','date_received','coupon_count'],axis=1,inplace=True)
dataset2 = dataset2.replace('null',np.nan)
dataset2.to_csv('../data/dataset2.csv',index=None)



coupon1 = pd.read_csv('../data/coupon1_feature.csv')
merchant1 = pd.read_csv('../data/merchant1_feature.csv')
user1 = pd.read_csv('../data/user1_feature.csv')
user_merchant1 = pd.read_csv('../data/user_merchant1.csv')
other_feature1 = pd.read_csv('../data/other_feature1.csv')
dataset1 = pd.merge(coupon1,merchant1,on='merchant_id',how='left')
dataset1 = pd.merge(dataset1,user1,on='user_id',how='left')
dataset1 = pd.merge(dataset1,user_merchant1,on=['user_id','merchant_id'],how='left')
dataset1 = pd.merge(dataset1,other_feature1,on=['user_id','coupon_id','date_received'],how='left')
dataset1.drop_duplicates(inplace=True)
print(dataset1.shape)
dataset1.user_merchant_buy_total = dataset1.user_merchant_buy_total.replace(np.nan,0)
dataset1.user_merchant_any = dataset1.user_merchant_any.replace(np.nan,0)
dataset1.user_merchant_received = dataset1.user_merchant_received.replace(np.nan,0)
dataset1['is_weekend'] = dataset1.day_of_week.apply(lambda x:1 if x in (6,7) else 0)
weekday_dummies = pd.get_dummies(dataset1.day_of_week)
weekday_dummies.columns = ['weekday'+str(i+1) for i in range(weekday_dummies.shape[1])]
dataset1 = pd.concat([dataset1,weekday_dummies],axis=1)
dataset1['label'] = dataset1.date.fillna('null').astype('str') + ':' +  dataset1.date_received.astype('str')
dataset1.label = dataset1.label.apply(get_label)
dataset1.drop(['merchant_id','day_of_week','date','date_received','coupon_count'],axis=1,inplace=True)
dataset1 = dataset1.replace('null',np.nan)
dataset1.to_csv('../data/dataset1.csv',index=None)

(222261, 50)
(492696, 51)
(255225, 51)

In [42]:
dataset1.head()

,user_id,coupon_id,discount_rate,distance,day_of_month,days_distance,discount_man,discount_jian,is_man_jian,total_sales,...,this_day_user_receive_same_coupon_count,is_weekend,weekday1,weekday2,weekday3,weekday4,weekday5,weekday6,weekday7,label
0,1832624,7610.0,0.90,0.0,29,-62,200.0,20.0,1,972.0,...,1,0,0,0,0,0,1,0,0,0
1,1832624,7610.0,0.90,0.0,29,-62,200.0,20.0,1,13990.0,...,1,0,0,0,0,0,1,0,0,0
2,163606,5054.0,0.85,10.0,21,-70,200.0,30.0,1,50.0,...,1,0,0,0,0,1,0,0,0,0
3,163606,5054.0,0.85,10.0,21,-70,200.0,30.0,1,737.0,...,1,0,0,0,0,1,0,0,0,0
4,4061024,7610.0,0.90,10.0,26,-65,200.0,20.0,1,972.0,...,1,0,0,1,0,0,0,0,0,0

In [43]:
dataset2.head()

,user_id,coupon_id,discount_rate,distance,day_of_month,days_distance,discount_man,discount_jian,is_man_jian,total_sales,...,this_day_user_receive_same_coupon_count,is_weekend,weekday1,weekday2,weekday3,weekday4,weekday5,weekday6,weekday7,label
0,1439408,11002.0,0.866667,1.0,28,-33,150.0,20.0,1,63.0,...,1,1,0,0,0,0,0,1,0,0
1,1439408,11002.0,0.866667,1.0,28,-33,150.0,20.0,1,594.0,...,1,1,0,0,0,0,0,1,0,0
2,1439408,8591.0,0.950000,0.0,13,-17,20.0,1.0,1,1.0,...,1,0,1,0,0,0,0,0,0,0
3,1439408,8591.0,0.950000,0.0,13,-17,20.0,1.0,1,13.0,...,1,0,1,0,0,0,0,0,0,0
4,1439408,8591.0,0.950000,0.0,16,-45,20.0,1.0,1,1.0,...,1,0,1,0,0,0,0,0,0,-1

In [ ]:
dataset2.head()

#### xgb模型

In [36]:
#######################################
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import MinMaxScaler

dataset1 = pd.read_csv('../data/dataset1.csv')
dataset1.label.replace(-1,0,inplace=True)

dataset2 = pd.read_csv('../data/dataset2.csv')
dataset2.label.replace(-1,0,inplace=True)

dataset3 = pd.read_csv('../data/dataset3.csv')

dataset1.drop_duplicates(inplace=True)
dataset2.drop_duplicates(inplace=True)
dataset3.drop_duplicates(inplace=True)

dataset12 = pd.concat([dataset1,dataset2],axis=0)

dataset1_y = dataset1.label
dataset1_x = dataset1.drop(['user_id','label'],axis=1)  # 'day_gap_before','day_gap_after' cause overfitting, 0.77
dataset2_y = dataset2.label
dataset2_x = dataset2.drop(['user_id','label'],axis=1)
dataset12_y = dataset12.label
dataset12_x = dataset12.drop(['user_id','label'],axis=1)
dataset3_preds = dataset3[['user_id','coupon_id','date_received']]
dataset3_x = dataset3.drop(['user_id','coupon_id','date_received'],axis=1)

print (dataset1_x.shape, dataset2_x.shape, dataset3_x.shape)

dataset1 = xgb.DMatrix(dataset1_x,label=dataset1_y)
dataset2 = xgb.DMatrix(dataset2_x,label=dataset2_y)
dataset12 = xgb.DMatrix(dataset12_x,label=dataset12_y)
dataset3 = xgb.DMatrix(dataset3_x)

params={'booster':'gbtree',
	    'objective': 'rank:pairwise',
	    'eval_metric':'auc',
	    'gamma':0.1,
	    'min_child_weight':1.1,
	    'max_depth':5,
	    'lambda':10,
	    'subsample':0.7,
	    'colsample_bytree':0.7,
	    'colsample_bylevel':0.7,
	    'eta': 0.01,
	    'tree_method':'exact',
	    'seed':0,
	    'nthread':12
	    }

#train on dataset1, evaluate on dataset2
#watchlist = [(dataset1,'train'),(dataset2,'val')]
#model = xgb.train(params,dataset1,num_boost_round=3000,evals=watchlist,early_stopping_rounds=300)

watchlist = [(dataset12,'train')]
model = xgb.train(params,dataset12,num_boost_round=10,evals=watchlist)

#predict test set
dataset3_preds['label'] = model.predict(dataset3)
dataset3_preds.label = MinMaxScaler().fit_transform(np.array(dataset3_preds.label).reshape(-1, 1))
dataset3_preds.sort_values(by=['coupon_id','label'],inplace=True)
dataset3_preds.to_csv("xgb_preds.csv",index=None,header=None)
print (dataset3_preds.describe())
    
#save feature score
feature_score = model.get_fscore()
feature_score = sorted(feature_score.items(), key=lambda x:x[1],reverse=True)
fs = []
for (key,value) in feature_score:
    fs.append("{0},{1}\n".format(key,value))
    
with open('xgb_feature_score.csv','w') as f:
    f.writelines("feature,score\n")
    f.writelines(fs)

(251818, 52) (483596, 52) (222261, 52)
[0]	train-auc:0.829958
[1]	train-auc:0.835059
[2]	train-auc:0.844135
[3]	train-auc:0.844723
[4]	train-auc:0.844425
[5]	train-auc:0.844614
[6]	train-auc:0.845563
[7]	train-auc:0.845202
[8]	train-auc:0.845547
[9]	train-auc:0.84775
            user_id      coupon_id  date_received          label
count  2.222610e+05  222261.000000   2.222610e+05  222261.000000
mean   3.684147e+06    9092.765946   2.016072e+07       0.348270
std    2.126266e+06    4144.899212   9.022204e+00       0.216230
min    2.090000e+02       3.000000   2.016070e+07       0.000000
25%    1.843454e+06    5143.000000   2.016071e+07       0.230149
50%    3.681845e+06    9983.000000   2.016072e+07       0.263557
75%    5.523459e+06   13602.000000   2.016072e+07       0.393458
max    7.361024e+06   14045.000000   2.016073e+07       1.000000